<form id="signup" (ngSubmit)="onSubmit()" #f="ngForm">
  <h3 style="text-align: center;">Register here</h3>
  <div class="form-group">
    <label for="name">Name</label>
    <input 
      type="text" 
      class="form-control"
      ngModel
      name="username" 
      #username="ngModel"
      placeholder="Enter you name">
      <!-- <span *ngIf="!username.dirty && !username.valid">Please enter username</span> -->
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input 
      type="email" 
      class="form-control"
      ngModel
      name="email" 
      email
      #email="ngModel"
      placeholder="Enter email address">
      <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input 
      type="password" 
      class="form-control"
      ngModel
      name="password" 
      placeholder="Enter password">
  </div>
  <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input 
        type="password" 
        class="form-control"
        name="confirmPassword" 
        placeholder="Enter confirm password">
  </div>
  <hr>
  <button 
    type="submit" 
    class="btn btn-dark btn-block mb-2"
    [disabled]="!f.valid">Sign Up</button>
  <p style="text-align: center;">Already have an account? <a href="#">Sign in</a></p> 
</form>